body {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-flow: column;
    margin: 0;
}
.links {
    display: flex;
    justify-content: space-around;
}
.links p {
    font-weight: 600;
}
.right-links ul {
    display: flex;
    gap: 1rem;
    font-weight: 200;
    padding: 1rem;
}
.header-wrapper, .footer {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
}
.hero-text {
    display: flex;
    gap: 32px;
    justify-content: space-around;
}
.main-text-image-wrapper {
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    gap: 64px;
}
.container-image {
    border: 3px  solid #3882f6;
    padding: 16px;
    border-radius: 12px;
}
.container-image img {
    width: 100px;
    height: 100px;
}

.hero-text img{
    border: 1px solid yellow;
    max-width: 350px;
    max-height: 250px;
    overflow: hidden;
}
ul, a {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #e2e7eb;
}